{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="data:,"> <!-- disable favicon -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% if title %}
        <title>Django Polls App - CS 3240</title>
    {% else %}
        <title>Django Polls App</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-steel navbar-dark">
        <div class="container-fluid justify-content-center">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:index' %}">Landing Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:deepthoughts' %}">Check-In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'polls:list' %}">Public List of Checked-In Students</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
    {% block content %} {% endblock content %}
    </div>
    <div class="footer bg-steel navbar-dark">
        <span class="footer-item">Authors: Ishan Koroth, Hunter Carlton</span>
        <span class="footer-item">&#169; ik4vrb@virginia.edu</span>
        <span class="footer-item footer-last"><a class="footer-link" href="{% url 'polls:credits' %}">Credits: Corey Schafer, W3C Schools</a></span>
    </div>
</body>
</html>
