{% extends "polls/base.html" %}
{% block content %}
{% load static %}

<h1>Credits</h1>
<div>
    <ul>
        <li><a href="">Django Tutorial</a></li>
        <p>This tutorial was very good at laying out how a web application is developed.</p>
        <li><a href="">Corey Schafer's Videos</a></li>
        <p>This video provided fundamentals of Django usage, templates, database migration, and Bootstrap.
        <br>
        He provided a customized style sheet for the navigation bar which I used in the code.</p>
        <li><a href="">W3C Schools</a></li>
        <p>This website provided a lot of information about HTML and good styling examples using Bootstrap.
        <br>I think this would become my main reference for HTML, CSS, and Javascript.</p>
    </ul>
</div>

{% endblock content %}
