{% extends "polls/base.html" %}
{% block content %}
{% load static %}

<form action="{% url 'polls:newdp' %}" method="post">
{% csrf_token %}
    <h2>Please check-in...</h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table border=0 cellspacing=10 >
    <tr>
    <td align="right"><label for="title">Name:</label></td>
    <td><input type="text" name="title" id="title" maxlength="100" size="30">
    </tr>
    <tr>
    <td align="right"><label for="content">Time:</label></td>
    <td><input type="text" name="content" id="content" maxlength="80" size="30"></td>
</tr>
<tr>
<td colspan=2><input class="btn btn-secondary" type="submit" value="Submit"></td>
</tr>
</table>
</form>

<script>
    window.onload = function() {
    var now = new Date();
    document.getElementById("content").value = now.toLocaleDateString() + " " + now.toLocaleTimeString();
    return true;
    }
</script>

{% endblock content %}
