{% extends "polls/base.html" %}
{% block content %}
{% load static %}

<form action="{% url 'polls:newdp' %}" method="post">
{% csrf_token %}
    <h3>Enter your name and date for the check-in...</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <label for="title">First and Last Name</label>:&nbsp;
    <input type="text" name="title" id="title" maxlength="200" size="80">
    <br>
    <br>
    <label for="content">Date and Time of Check-In</label>:&nbsp;
    <br>
    <input type="text" name="content" id="content" maxlength="80" size="80">
<br>
<input class="btn btn-secondary" type="submit" value="Submit">
</form>
<br>
Fill out the form and hit submit to check-in. Once you have checked-in for the day, verify it here: <a href="{% url 'polls:list' %}">here</a>.
<br>

<script>
    window.onload = function() {
    var now = new Date();
    document.getElementById("content").value = d.toLocaleDateString() + " " + d.toLocaleTimeString();
    return true;
    }
</script>

{% endblock content %}
