{% extends "polls/base.html" %}
{% block content %}
{% load static %}
<head>
    <meta http-equiv="refresh" content="30">
</head>

{% if all_deepthoughts %}
    {% for deepthought in all_deepthoughts %}
    <article class="media content-section">
        <h2>{{ deepthought.title }}</h2>
        <p>{{ deepthought.content }}</p>
    </article>
    {% endfor %}
{% else %}
    <p>No one has checked in yet.</p>
{% endif %}
<br>
If you have successfully checked-in with your name, date, and time and it is in the list here, congrats! Otherwise, click <a href="{% url 'polls:deepthoughts' %}">here</a>.
<br>
{% endblock content %}
